@font-face {
    font-family: Product-Sans-Regular;
    src: url("../fonts/product-sans-regular.ttf");
}

/* ----- Defaults ----- */

* {
    text-decoration: none;
    font-family: product-sans-regular, serif;
    font-weight: 200;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

ul {
    margin: 0;
}

button,
input[type='button'] {
    cursor: pointer;
}

button:focus,
input:focus,
textarea:focus {
    outline: none;
}

input, textarea {
    border: none;
}

button {
    border: none;
    background: none;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
}

a {
    color: #d6d6d6;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
    font-weight: 700;
}

.table-responsive {
    padding-right: 1px;
}

.card {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* ----- Typography ----- */
body {
    margin: 0;
    padding: 0;
    background-color: rgba(243, 243, 243, 0.88);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: product-sans-regular, serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 1.625;
    color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #575757;
    font-weight: 600;
    margin: 0;
    line-height: 2;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 13px;
}

blockquote {
    margin: 0;
}

strong {
    font-weight: 700;
}

.header {
    position: absolute;
    width: 100%;
    z-index: 3;
    height: 44px;
    background-color: #009898;
    border-bottom: 2px solid rgba(0, 58, 58, 0.39);

    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px 10px 0;
}

/* logo in header(mobile version) and side-nav (tablet & desktop) */
.logo {
    height: 44px;
    padding: 10px;
    font-weight: 700;
}

.header .logo {
    color: teal;
    float: left;
}

.highlight-2 {
    color: #ede435;
}

.side-nav .logo {
    background-color: teal;
    color: #fff;
}

.logo i {
    font-size: 22px;
}

.logo span {
    margin-left: 5px;
    text-transform: uppercase;
}

.nav-trigger {
    position: relative;
    float: left;
    width: 20px;
    height: 44px;
    left: 10px;
    display: block;
}

.nav-trigger span, .nav-trigger span:before, span:after {
    width: 20px;
    height: 2px;
    background-color: #d6d6d6;
    position: absolute;
}

.nav-trigger span {
    top: 50%;
}

.nav-trigger span:before, .nav-trigger span:after {
    content: '';
}

.nav-trigger span:before {
    top: -6px;
}

.nav-trigger span:after {
    top: 6px;
}

.avatar-2 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    float: right;
    margin-top: -10px;
    margin-right: 8px;
}

/* side navigation styles */
.side-nav {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #006565;
    z-index: 1;
    display: none;
}

.side-nav.visible {
    display: block;
}

.side-nav ul {
    margin: 0;
    padding: 0;
}

.side-nav ul li {
    padding: 16px 16px;
    border-bottom: 1px solid #bababa;
    position: relative;
}

.side-nav ul li.active:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #bababa;
}

.side-nav ul li.active {
    background: #00b0b0;
}

.side-nav ul li:hover {
    background: #00b0b0;
}

.side-nav ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
}

.side-nav ul li i {
    color: #bababa;
    min-width: 20px;
    text-align: center;
}

.side-nav ul li span:nth-child(2) {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
}

/* main content styles */
.main-content {
    margin-top: 0;
    padding: 44px 40px 40px;
    height: 100%;
    overflow: scroll;
}

.main-content .title {
    border-bottom: 1px solid #b8bec9;
    padding: 10px 20px;
    font-weight: 400;
    color: #4b4b4b;
    font-size: 18px;
}

#category-1 {
    background: #4b4b4b;
}

#category-2 {
    background: teal;
}

#category-3 {
    background: maroon;
}

#category-4 {
    background: rebeccapurple;
}

#category-5 {
    background: forestgreen;
}

#category-6 {
    background: #b45126;
}

.admin-links div {
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background-size: cover;
    display: table;
}

.admin-links div h3 {
    font-size: 50px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    line-height: 50px;
}

.admin-links div p {
    font-size: 25px;
    color: #fff;
    text-align: right;
    font-weight: 200;
    margin-right: 15px;
}

@media only screen and (min-width: 1000px) {
    /* Style adjustments for viewports that meet the condition */
    .wrapper {
        width: 100%;
        margin-top: 0;
        padding: 20px 0 40px;
        height: 100%;
    }

    .wrapper-order {
        width: 100%;
        margin-top: 0;
        padding: 0 300px 0;
        height: 100%;
    }

    .admin-links {
        overflow: hidden;
    }

    .admin-links div {
        margin: 20px 10px 0;
        height: 160px;
        background-size: cover;
        display: table;
        float: left;
    }

    .admin-links div h3 {
        font-size: 100px;
    }

    .admin-boxlink-square {
        width: calc(25% - 20px) !important;
    }

    .admin-boxlink-rectangle {
        width: calc(50% - 20px) !important;
    }

    .admin-links div h3 {
        line-height: 160px;
    }
}

/* set element styles to fit tablet and higher(desktop) */
@media screen and (min-width: 600px) {
    .header {
        background-color: #57484d;
        z-index: 1;
    }

    .header .logo {
        display: none;
    }

    .nav-trigger {
        display: none;
    }

    .nav-trigger span, .nav-trigger span:before, span:after {
        background-color: #fff;
    }

    .side-nav {
        display: block;
        width: 70px;
        z-index: 2;
    }

    .side-nav ul li span:nth-child(2) {
        display: none;
    }

    .side-nav .logo i {
        padding-left: 12px;
    }

    .side-nav .logo span {
        display: none;
    }

    .side-nav ul li i {
        font-size: 26px;
    }

    .side-nav ul li a {
        text-align: center;
    }

    .main-content {
        margin-left: 70px;
    }
}

/* set element styles for desktop */
@media screen and (min-width: 800px) {
    .side-nav {
        width: 200px;
    }

    .side-nav ul li span:nth-child(2) {
        display: inline-block;
    }

    .side-nav ul li i {
        font-size: 16px;
    }

    .side-nav ul li a {
        text-align: left;
    }

    .side-nav .logo i {
        padding-left: 0;
    }

    .side-nav .logo span {
        display: inline-block;
    }

    .main-content {
        margin-left: 200px;
    }
}

/* main box container */
.main {
    display: flex;
    flex-flow: row wrap;
}

.widget {
    flex-basis: 300px;
    flex-grow: 10;
    height: 300px;
    margin: 15px;
    border-radius: 6px;
    background-color: #f3f3f3;
    position: relative;
}

.widget .title {
    background-color: #eef1f7;
    border-bottom: 1px solid #dfe4ec;
    padding: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #292929;
    font-weight: 600;
}

/* ----- Table ----- */
.table {
    margin: 0;
}

.table-styling thead th {
    background: #333;
    font-size: 14px;
    color: #fff;
    vertical-align: middle;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1;
    padding: 10px 16px;
    white-space: nowrap;
    text-align: left;
}

.table-styling tbody td {
    color: #808080;
    padding: 10px 16px;
    white-space: nowrap;
    font-size: 13px;
}

.table-styling tbody tr:hover td {
    color: #555;
    cursor: pointer;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #e6e6e6;
}

.table-styling tbody td.pending {
    color: #c3c300;
}

.table-styling tbody td.confirmed {
    color: #00ad5f;
}

.table-styling tbody td.denied {
    color: #ad1705;
}

.table-styling tbody td.delivered {
    color: #0045ad;
}

.table-order-details.table td {
    border-top: none;
    border-bottom: 1px solid #c5c5c5;
    font-size: 12px;
    padding: 6px 32px;
}

.table-order-details.table tr td:first-child {
    font-weight: 700;
    font-size: 16px;
}

.table-order-details.table tr td:last-child {
    text-align: left;
    font-size: 14px;
}

.table-order-details.table tr:last-child td {
    border-bottom: none;
}

.order h4 {
    line-height: 3;
    font-weight: 600;
    color: teal;
}

/*Styling for buttons*/

.button {
    display: inline;
    border-radius: 3px;
    background-color: #006565;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 8px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0;
    float: right;
    text-decoration: #cccccc;
}

.button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem 0.25rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*Image setting for product*/
img {
    border: 1px solid #ddd;
    border-radius: 1px;
    width: 150px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* main content styles */
.menu-content {
    height: 100%;
    overflow-x: scroll;
}

/* Footer */

footer {
    padding: 10px;
    background-color: #d4d4d4;
    color: #383838;
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    color: #272727;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    font-size: 14px;
}

.pagination a.active {
    background-color: #009898;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}