/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

::-webkit-input-placeholder {
    color: #56585b;
}

::-moz-placeholder {
    color: #56585b;
}

:-moz-placeholder {
    color: #56585b;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight:
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: Product-Sans-Regular;
    src: url("../fonts/product-sans-regular.ttf");
}

* {
    text-decoration: none;
    font-family: product-sans-regular, serif;
    box-sizing: border-box;
}

body {
    background: #f3f3f3;
}

ul, nav {
    list-style: none;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
    font-weight: 700;
}

a:hover {
    opacity: 1;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin: 0 0 1.5rem;
}

i {
    font-size: 1.3rem;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px 100px 0;
}

header .header-brand {
    font-size: 26px;
}

header nav ul {
    display: flex;
}

header nav li {
    margin: 0 15px;
}

header nav li:first-child {
    margin-left: 0;
}

header nav li:last-child {
    margin-right: 0;
}

header nav ul li a {
    line-height: 2px;
    font-weight: 400;
}

header nav ul li a:hover {
    color: #009494;
}

.header-login {
    color: #000;
    font-size: 15px;
}

a.btn {
    color: #fff;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.highlight {
    color: #00b0b0;
}

a.btn:hover {
    background: #d73851;
    border: 1px solid #d73851;
    color: #fff;
}

.cover {
    height: 100vh;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
    padding: 20px 50px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;

    margin: 0;
    background: url("../img/10.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #0a0a0b;
    overflow: hidden;
}

.cover h2 {
    font-family: Cormorant Garamond, serif;
    font-size: 28px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    line-height: 36px;
    text-shadow: 2px 2px 8px #111;
    font-stretch: condensed;
}

.menu-cover {
    height: 50vh;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
    padding: 20px 50px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;

    margin: 0;
    background: url("../img/salad.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #0a0a0b;
    overflow: hidden;
}

.menu-cover h1 {
    font-size: 70px;
    color: #fff;
    text-align: center;
    font-weight: 800;
    text-shadow: 2px 2px 8px #111;
}

.menu-cover h2 {
    font-family: Cormorant Garamond, serif;
    font-size: 42px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    line-height: 40px;
    text-shadow: 2px 2px 8px #111;
}

.flex-form input[type="submit"] {
    background: #ef3f5a;
    border: 1px solid #ef3f5a;
    color: #fff;
    padding: 0 30px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.flex-form input[type="submit"]:hover {
    background: #d73851;
    border: 1px solid #d73851;
}

.flex-form {
    display: -webkit-box;
    display: flex;
    z-index: 10;
    position: relative;
    width: 500px;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.flex-form > * {
    border: 0;
    padding: 0 0 0 10px;
    background: #fff;
    line-height: 50px;
    font-size: 1rem;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
}

input[type="search"] {
    flex-basis: 500px;
}

@media all and (max-width: 800px) {
    body {
        font-size: 0.9rem;
    }

    .flex-form {
        width: 100%;
    }

    input[type="search"] {
        flex-basis: 100%;
    }

    .flex-form > * {
        font-size: 0.9rem;
    }

    header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        padding: 10px !important;
    }

    header h2 {
        margin-bottom: 15px;
    }

    h1 {
        font-size: 2rem;
    }

    .cover {
        padding: 20px;
    }
}

@media all and (max-width: 360px) {
    header nav li {
        margin: 0 10px;
    }

    .flex-form {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    input[type="search"] {
        flex-basis: 0;
    }

    label {
        display: none;
    }
}

/* Index */

.index-banner {
    width: 100%;
    height: 100vh;
    background: url('../img/10.jpg') no-repeat center;
    background-size: cover;
    display: table;
}

.index-banner h1 {
    font-size: 70px;
    color: #fff;
    text-align: center;
    font-weight: 800;
    text-shadow: 2px 2px 8px #111;
}

.index-banner h2 {
    font-family: Cormorant Garamond, serif;
    font-size: 42px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    line-height: 40px;
    text-shadow: 2px 2px 8px #111;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
    align-items: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.index-links div {
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background: url('../img/9.jpg') no-repeat center;
    background-size: cover;
    display: table;
}

.index-links div h3 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    line-height: 100px;
    text-shadow: 2px 2px 8px #111;
}

/*Styling for buttons*/

.button {
    width: 100%;
    padding: 12px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
    text-align: center;
}

.button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

#index-menu {
    position: center;
}

#category-1 {
    background-image: url("../img/burger1.jpg");
}

#category-2 {
    background-image: url("../img/pizza.jpg");
}

#category-3 {
    background-image: url("../img/salad.jpg");
}

#category-4 {
    background-image: url("../img/fries.jpg");
}

#category-5 {
    background-image: url("../img/pasta1.jpg");
}

#category-6 {
    background-image: url("../img/drinks.jpg");
}

/* Footer */

footer {
    padding: 20px;
    background-color: #111;
    color: #ffffff;
    margin-top: 20px;
    text-align: center;
}

/*Forms*/
.flex-outer,
.flex-inner {
    list-style-type: none;
    padding: 0;
    align-items: center;
}

.flex-outer {
    max-width: 500px;
    margin: 0 auto;
}

.flex-outer li,
.flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-inner {
    padding: 0 8px;
    justify-content: space-between;
}

.flex-outer > li:not(:last-child) {
    margin-bottom: 10px;
}

.flex-outer li label,
.flex-outer li p {
    padding: 10px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
    flex: 1 0 220px;
}

.flex-outer li p {
    margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
    padding: 9px;
    border: none;
    font-size: 14px;
    color: #56585b;
    font-family: Product-Sans-Regular, sans-serif;
}

.flex-outer li button {
    width: 100%;
    padding: 12px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

.flex-outer li a button {
    width: 100%;
    padding: 12px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

.flex-inner li {
    width: 100px;
}

.brand {
    text-align: center;
}

.container-2 {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    overflow: hidden;
    padding: 1em;
}

.container-2 * {
    box-sizing: border-box;
}

.user-forms {
    align-items: center;
    margin: 0;
    background: url("../img/drinks.jpg") no-repeat center center fixed;
    background-size: cover;
}

.wrapper-2 {
    box-shadow: 0 0 10px 0 rgba(72, 94, 116, 0.7);
    background-color: #dbdbdb;
    max-width: 500px;
    margin: 50px auto;
    box-sizing: border-box;
    padding: 40px;
}

.wrapper-2 > * {
    padding: 0 auto;
}

.wrapper-2 h3 {
    text-align: center;
    font-size: 30px;
    line-height: 1px;
}

.wrapper-2 p a {
    color: #006565;
    font-weight: 500;
}

.img-container {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 25%;
    border-radius: 50%;
}

/*User Pages*/
.user-banner {
    width: 100%;
    height: 100px;
    background-color: #222222;
    background-size: contain;
}

.user-banner h1 {
    font-size: 70px;
    color: #fff;
    text-align: center;
    font-weight: 800;
    text-shadow: 2px 2px 8px #111;
}

.user-banner h2 {
    font-family: Cormorant Garamond, serif;
    font-size: 30px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    line-height: 30px;
    text-shadow: 2px 2px 8px #111;
}

#form-btn {
    background-color: #292929;
    color: #fff;
}

/*Styling for buttons*/

.admin-button {
    display: inline;
    border-radius: 3px;
    background-color: #006565;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 8px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0;
    float: right;
    text-decoration: #cccccc;
}

.admin-button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.admin-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.admin-button:hover span {
    padding-right: 25px;
}

.admin-button:hover span:after {
    opacity: 1;
    right: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 1000px) {
    /* Style adjustments for viewports that meet the condition */
    header .header-brand {
        font-size: 26px;
        font-weight: 600;
        color: #d6d6d6;
        display: block;
        margin: 31px 0;
        text-align: center;
        padding: 4px 0;
        align-content: center;
        text-decoration: none;
        float: left;
        line-height: 38%;
    }

    header .header-brand {
        margin: 31px 0;
        text-align: left;
        float: left;
    }

    header nav ul {
        margin: 2px 0 0 2px;
        float: right;
    }

    header nav ul li a {
        line-height: 2px;
    }

    .header nav ul li .active {
        color: #b6ad2b;
    }

    .header nav ul li:hover {
        background: #b6ad2b;
    }

    .header-login {
        color: #f3f3f3;
        font-size: 15px;
    }

    .cover h2 {
        font-size: 40px;
    }

    .wrapper-main {
        width: 1000px;
        margin: 0 auto;
        overflow: scroll;
    }

    .index-links {
        overflow: hidden;
    }

    .index-links div {
        margin: 20px 10px 0;
        height: 230px;
        background: url('../img/10.jpg') no-repeat center;
        background-size: cover;
        display: table;
        float: left;
    }

    .index-boxlink-square {
        width: calc(25% - 20px) !important;
    }

    .index-boxlink-rectangle {
        width: calc(50% - 20px) !important;
    }

    .index-links div h3 {
        line-height: 100px;
    }

    footer {
        display: block;
    }
}

@media print,
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
